<header>
	<div id="header">
		<div id="header-logo">
			<h1><a href="/"><%= (bot.user.username || "Hello") %></a></h1>
		</div>
		<div id="header-nav">
			<ul class="header-list">
				<li><a href="#">Stats</a></li>
				<li><a href="#">Commands</a></li>
				<li><a href="/console">Console</a></li>
			</ul>
		</div>
	</div>
</header>